* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
    color: #333;
}

.mb-3 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mb-5 {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 20%;
    justify-content: center;
}


.my-5 {
    top: 0;
    padding-right: 15%;
    margin: 20%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.circular-chart {
    max-width: 100%;
    max-height: 100%;
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0, 100;
    }
}

.red .circle {
    stroke: #ff5252;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #EA1D2C !important;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.dropdown-toggle::after {
    display: none; /* Remove a seta padrão do Bootstrap */
}


.sidebar-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar-logo-container {
    display: flex;
    align-items: left;
    justify-content: left;
    top: auto;
    margin-top: 120%;
    margin-left: 10%;
}

.sidebar-logo {
    width: 100px;
    height: 50px;
}

.sidebar-logo-small {
    display: none;
    width: 60px; /* Ajuste o tamanho do logo menor */
    top: auto;
    margin-top: 250%;
}

.sidebar.minimized .sidebar-logo {
    display: none;
}

.sidebar.minimized .sidebar-logo-small {
    display: block;
}

.sidebar .nav-link {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: #ffffff;
    transition: background-color 0.3s ease;
    white-space: nowrap; /* Impede que o texto quebre em múltiplas linhas */
    overflow: hidden; /* Esconde o texto que não cabe */
    text-overflow: ellipsis; /* Adiciona "..." no final do texto que não cabe */
}

.sidebar .nav-link:hover {
    background-color: #a4000b;
    width: 100;
}

.sidebar.minimized .nav-link {
    width: 80px; /* Largura minimizada */
    overflow: hidden;
}

.sidebar.minimized .nav-link:hover {
    width: 80px;
}

.sidebar .nav-link .sidebar-text {
    margin-left: 10px;
    transition: opacity 0.3s ease;
}

.sidebar .nav-link i {
    font-size: 1.5rem;
}

.sidebar .btn {
    margin: 10px;
    border: none;
    background: none;
    color: #333;
    font-size: 1.5rem;
}

/* Sidebar Minimizada */

.sidebar.minimized {
    width: 80px;
    display: flex; /* Corrigido */
}

.sidebar.minimized .sidebar-text {
    opacity: 0;
    visibility: hidden;
}


#toggleSidebar i {
    color: #fff; /* Define a cor do ícone para branco */
}

.sidebar-footer {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 85%;

}

.sidebar-footer img {
    cursor: pointer;
}

.user-info {
    display: flex; /* Corrigido */
    align-items: center;
    justify-content: center; /* Centraliza horizontalmente */
}

.user-info .user-image {
    width: 80px;
    height: 80px;
    cursor: pointer;
    margin-right: 10px; /* Espaçamento entre a imagem e o dropdown */
}


.dropdown-toggle::after {
    display: none; /* Remove a seta padrão do Bootstrap */
}

.user-info .dropdown-menu {
    position: absolute;
    flex: block;
    top: -500%; /* Posiciona o dropdown acima do ícone */
    right: -150px;
    display: none; /* Inicialmente escondido */
    background-color: #fff; /* Cor de fundo do menu dropdown */
    color: #000; /* Cor do texto */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.user-info:hover .dropdown-menu {
    display: block; /* Exibe o menu quando o mouse estiver sobre a área */
}

.user-info::before {
    content: "";
    position: absolute;
    top: -30%; /* Ajuste conforme necessário */
    left: 10%;
    width: 50%;
    height: 2px; /* Altura da linha branca */
    background-color: #fff; /* Cor da linha branca */
    border-radius: 1.5px; /* Opcional: para bordas arredondadas */
    z-index: 1; /* Garante que a linha fique acima da imagem */
}

.user-greeting {
    display: inline-block;
    flex-direction: column;
    font-size: 1rem; /* Ajuste o tamanho da fonte */
    color: #ffffff;
}

.sidebar.minimized .user-info {
    display: flex;
    flex-direction: column; /* Alinha a imagem e o texto em coluna */
    justify-content: center;
    align-items: center; /* Centraliza todos os elementos verticalmente */
}

.sidebar.minimized .user-greeting {
    display: flex;
    text-align: center; /* Centraliza o texto */
    font-size: 0.9rem; /* Ajuste opcional para o tamanho da fonte */
    margin-bottom: 5%; /* Espaço entre o texto e a seta */
    margin-right: 30%;
}

.sidebar.minimized .user-image {
    width: 50px; /* Ajusta o tamanho da imagem quando minimizada */
    height: 50px;
    margin-top: -20px; /* Espaço entre a imagem e o texto */
}

.sidebar.minimized .dropdown-toggle {
    display: flex;
    text-align: center; /* Centraliza o texto */
    margin-bottom: 10%; /* Espaço entre o texto e a seta */
    margin-bottom: 5%; /* Espaço entre o texto e a seta */
    margin-right: 30%;
}

footer {
    display: flex; 
    bottom: 0;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 5px;
    padding-top: 90px;
    color: #000000;
    font-size: 12px;
}

@media (max-width: 1255px) {

    .my-5 {
        padding-right: 0%;
        margin: 5%;
        padding-top: 13%;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%; /* Em telas menores, os cards ocuparão a largura total */
        width: calc(90% - 10px);
        gap:30%;
        margin-bottom: 2%;
    }

    body {
        margin-top: 5vh; /* Ajusta o padding para tamanhos menores */
    }


    .sidebar {
        position: fixed;
        width: 100%; /* Ocupa toda a largura da tela */
        height: 9%; /* Ajuste conforme necessário para a altura da barra no modo móvel */
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        transition: none;
        margin-bottom: 5%;
        z-index: 1000;
    }

    .sidebar-content {
        flex-direction: row;
        height: 30%;
        width: 0%;
    }

    .sidebar .nav-link:hover {
        background-color: #a4000b;
        width: 100%;
        margin-top: 0;
    }

    .sidebar-footer {
        display: none;
    }

    .sidebar.minimized {
        width: 100%; /* Garante que a sidebar fique expandida no mobile */
    }

    .sidebar.minimized .sidebar-logo-small {
        display: none; /* Remove o logo pequeno no mobile */
    }

    .sidebar.minimized .sidebar-logo {
        display: block; /* Exibe o logo completo */
    }

    .sidebar.minimized .sidebar-text {
        opacity: 1;
        visibility: visible;
    }

    .sidebar.minimized .nav-link {
        justify-content: center; /* Centraliza os ícones no mobile */
    }

    .sidebar.minimized .user-greeting {
        position: fixed;
        display: flex;
        flex-direction: column;
        margin-right: -15%;
        top: 2%;
    }


    .sidebar-footer {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: right;
        padding: 10%;
        margin-left: 9%;
        margin-right: 10%;
    }

    .nav-link {
        justify-content: center;
        padding: 8px;
        flex-direction: column;
        margin-right: 0.5vh;
        margin-left: 2vh;
        margin-top: 1vh;
    }

    .sidebar-text {
        display: none;
    }

    .user-image {
        display: none;
    }

    .user-info {
        display: flex;
        flex-direction: row;
        height: auto;
        width: 100%;
    }

    .sidebar .btn {
        display: none;
    }

    .user-info::before {
        display: none;;
    }

    /*caixa de menu*/

    .user-info .dropdown-menu {
        position: fixed; /* Posiciona o menu em relação à viewport, não à sidebar */
        top: 8%; /* Aproximadamente equivalente a 60px em relação à altura total da viewport */
        right: 25%; /* Aproximadamente equivalente a 10px em relação à largura total da viewport */
        width: 2.5%; /* Aproximadamente equivalente a 40px em relação à largura total da viewport */
        z-index: 9999; 
        display: none;
        flex-direction: column;
        background-color: #fff; /* Cor de fundo do dropdown */
        color: #000; /* Cor do texto */
        box-shadow: 0px 0.25% 0.38% rgba(0, 0, 0, 0.1); /* Aproximadamente 4px por 6px convertidos em % */
    }
}